@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #fff0e633;
    color: black;
    max-width: 2000px;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* For Webkit browsers like Chrome */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }